<html>
    <head>
    <% include ../partials/head %>
        <title>Items</title>
    </head>

    <body>
        <!-- Header -->
        <header>
            <% include ../partials/header %>
        </header>
        
        <main>
            <div class="jumbotron text-center">
                <h2><%= item.Title %></h3>
                <p>by <a href="/user/<%= item.CreatedBy._id %>"><%= item.CreatedBy.FirstName %> <%= item.CreatedBy.LastName %></a></p>
                <button type="button" class="btn btn-danger btn-sm">Message</button>
                <% if(authUser) { %>
                    <% if(item.CreatedBy._id == authUser._id) { %>
                        <button type="button" class="btn btn-danger btn-sm">Edit</button>
                    <% } %>
                <% } %>
                <br />
                
                <%if (item.Image && item.Image != ""){ %>
                    <img src='/uploads/<%= item.Image %>' class="img-thumbnail img-responsive" alt="Item image" style="max-width: 500px" />
                <% } else{ %>
                    <img src="/uploads/new-item.png" class="img-thumbnail img-responsive" alt="Item image" />
                <% } %>
            </div>

            <div class="container container-fluid">
                <div class="row">
                    <h3>Description</h3>
                    
                    <p><%= item.Description %></p>
                    <hr />
                </div>

                <div class=row>
                    <h3>Price: $<%=item.Price %></h3>
                </div>

                <% if(item.Categories && item.Categories.length > 0) { %>
                    <div class="row">
                        <h3>Categories</h3>
                        <ul>
                        <% for(var i= 0; i < item.Categories.length; i++){ %>
                            <li><a href='/items/category/<%= item.Categories[i]._id %>'><%= item.Categories[i].Name %></a></li>
                        <% } %>
                        </ul>
                    </div>
                <% } %>
            </div>



        </main>

        <!-- Faux buy or Inquire button -->
        <div></div>


        <!-- Footer -->
        <div>
             <% include ../partials/footer %>
        </div>

    </body>


</html>