<html>
    <head>
    <% include ../partials/head %>
        <title>Items</title>
    </head>

    <body>
        <!-- Header -->
        <header>
            <% include ../partials/header %>
        </header>
        
        <main>
            <div class="jumbotron text-center">
            <h2><%= item.Title %></h3>
            <p>by <%= item.CreatedBy.FirstName %> <%= item.CreatedBy.LastName %></p>
            
            <%if (item.Image && item.Image != ""){ %>
                <img src='/uploads/<%= item.Image %>' class="img-thumbnail img-responsive" alt="Item image" style="max-width: 500px" />
            <% } else{ %>
                <img src="/uploads/new-item.png" class="img-thumbnail img-responsive" alt="Item image" />
            <% } %>
            
            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#updateItemModal">Add an item</button>

            </div>

            <div id="updateItemModal" class="modal fade" role="dialog" aria-labelledby="updateItemModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">New Item</h4>
                    </div>
                    <form action='/items/update/<%= item._id %>' method="POST" enctype="multipart/form-data">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="Title" class="form-control-label">Title:</label>
                                <input type="text" class="form-control" id="Title" name="Title" value="<%= item.Title %>" required>
                            </div>
                            <div class="form-group">
                                <label for="Description" class="form-control-label">Description:</label>
                                <input type="text" class="form-control" id="Description" name="Description" value="<%= item.Description %>" required>
                            </div>
                            <div class="form-group">
                                <label for="Price" class="form-control-label">Price:</label>
                                <input type="number" min="0.00" step="0.50" class="form-control" id="Price" name="Price" value="<%= item.Price %>" required>
                            </div>
                           
                            
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <input type="submit" class="btn btn-primary" value="Add item"></input>
                        </div>
                    </form>
                </div>
            </div>
        </div>

            <div class="container container-fluid">
                <div class="row">
                    <h3>Description</h3>
                    
                    <p><%= item.Description %></p>
                    <hr />
                </div>

                <div class=row>
                    <h3>Price: $<%=item.Price %></h3>
                </div>

                <% if(item.Categories && item.Categories.length > 0) { %>
                    <div class="row">
                        <h3>Categories</h3>
                        <ul>
                        <% for(var i= 0; i < item.Categories.length; i++){ %>
                            <li><a href='/items/category/<%= item.Categories[i]._id %>'><%= item.Categories[i].Name %></a></li>
                        <% } %>
                        </ul>
                    </div>
                <% } %>
            </div>



        </main>

        <!-- Faux buy or Inquire button -->
        <div></div>


        <!-- Footer -->
        <div>
             <% include ../partials/footer %>
        </div>

    </body>


</html>