<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head %>
    <script src="/js/addItemAlert.js"></script>
    <title>Items</title>
</head>

<body>
    <!-- Header -->
    <header>
        <% include ../partials/header %>
    </header>

    <!-- Your Content -->
    <main>
        <div class="container container-fluid">
            <div class="add-item text-center">
                <% if(authUser) { %>
                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#addItemModal">Add an item</button>

                    <div id="addItemModal" class="modal fade" role="dialog" aria-labelledby="addItemModal" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title">New Item</h4>
                                </div>
                                <form action="/items" method="POST" enctype="multipart/form-data">
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="Title" class="form-control-label">Title:</label>
                                            <input type="text" class="form-control" id="Title" name="Title" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="message-text" class="form-control-label">Description:</label>
                                            <textarea class="form-control" id="message-text" name="Description" required></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="Price" class="form-control-label">Price:</label>
                                            <input type="number" min="0.00" step="0.50" class="form-control" id="Price" name="Price" value="0.00" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="Category" class="form-control-label">Category:</label>
                                            <input type="text" class="form-control" id="Category" name="Category" required></input>
                                        </div>
                                        <div class="form-group">
                                            <label for="Image" class="form-control-label">Image:</label>
                                            <input type="file" class="form-control" id="Image" name="Image"></input>
                                        </div>
                                        <input type="hidden" name="CreatedBy" value="<%= authUser._id %>" />
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <input type="submit" class="btn btn-primary" value="Add item"></input>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                <% } else { %>
                    <button id="addItemAlertBtn" class="btn btn-info btn-lg">Add an item</button>
                <% } %>
                </div>
            <div class="row">
                <% for(var i=0; i < items.length; i++) { %>
                    <a href="/items/<%= items[i]._id %>">
                        <div class="col-xs-6 col-md-4">
                            <div class="thumbnail">
                                <img src="/uploads/<%= items[i].Image %>" class="img-thumbnail img-responsive" alt="Item image" />
                                <div class="caption">
                                    <h3><%= items[i].Title %></h3>
                                    <h4>$<%= items[i].Price %></h4>
                                    <h4><%=  items[i].DateAdded.toLocaleDateString("en-US") %></h4>
                                    <p>
                                        <a href="/items/<%= items[i]._id %>" class="btn btn-primary" role="button">See more »</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                <% } %>
            </div>
            <!-- Pagination -->
            <nav class="text-center" aria-label="Page navigation">
                <ul class="pagination pagination-lg text-center">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- /Pagination -->
        </div>
    </main>

    <!-- Footer -->
    <div>
        <% include ../partials/footer %>
    </div>
</body>

</html>