<html>
    <head>
    <% include ../partials/head %>
        <title>Items</title>
    </head>

    <body>
        <!-- Header -->
        <header>
            <% include ../partials/header %>
        </header>
        
        <main>
            <div class="jumbotron text-center">
            <h2><%= item.Title %></h3>
            <p>by <%= item.CreatedBy.FirstName %> <%= item.CreatedBy.LastName %></p>
            
            <%if (item.Image || item.Image != ""){ %>
                <img src='/uploads/<%= item.Image %>' class="img-thumbnail img-responsive" alt="Item image" style="max-width: 500px" />
            <% } else{ %>
                <img src="/uploads/new-item.png" class="img-thumbnail img-responsive" alt="Item image" />
            <% } %>
            
            </div>

            <div class="container container-fluid">
                <div class="row">
                    <h3>Description</h3>
                    
                    <p><%= item.Description %></p>
                    <hr />
                </div>

                <div class=row>
                    <h3>Price: $<%=item.Price %></h3>
                </div>
            </div>



        </main>

        <!-- Faux buy or Inquire button -->
        <div></div>


        <!-- Footer -->
        <div>
             <% include ../partials/footer %>
        </div>

    </body>


</html>