<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head %>
        <title>User</title>
</head>

<body>
    <!-- Header -->
    <header>
        <% include ../partials/header %>
    </header>

    <!-- Your Content -->
    <main>
        <!-- Modal -->
        <div id="uploadImageModal" class="modal fade" role="dialog" aria-labelledby="uploadImageModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Upload Profile Image</h4>
                    </div>
                    <form action="/users/<%= user._id %>/photo" method="POST" enctype="multipart/form-data">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="Image" class="form-control-label">Image:</label>
                                <input type="file" class="form-control" id="Image" name="Image"></input>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <input type="submit" class="btn btn-primary" value="Save"></input>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <div class="well">
                        <!-- User profile pic -->
                        <div class="profile-pic text-center">
                            <% if(user.Image) { %>
                            <img class="img-thumbnail profile-thumbnail" src="/uploads/<%= user.Image %>" alt="Profile picture" />
                            <% } else { %>
                            <img class="img-thumbnail profile-thumbnail" src="/images/default-profile.jpg" alt="Profile picture" />
                            <% } %>
                            <% if(authUser && user._id == authUser._id) { %>
                                <a data-target="#uploadImageModal" data-toggle="modal" href="#uploadImageModal"><span class="glyphicon glyphicon-pencil"></span></a>
                            <% } %>
                            </img>
                        </div>
                        <!-- /User profile pic -->

                        <!-- User first and last name -->
                        <div class="text-center">
                            <div class="">
                                <h3><%= user.FirstName %> <%= user.LastName %></h3>
                            </div>
                        </div>
                        <!-- /User first and last name -->

                        <!-- Button -->
                        <div class="well text-center">
                            <a href="mailto:<%= user.Email %>?Subject=HTV" class="btn btn-success"><%= user.Email %></a>
                        </div>
                        <!-- /Button -->

                        <!-- Tab menu -->
                        <ul class="list-group" role="tablist">
                            <li role="presentation" class="list-group-item active">
                                <a class="list-group-link" href="#items" aria-controls="items" role="tab" data-toggle="tab"><i class="glyphicon glyphicon-list-alt"></i> Items </a>
                            </li>
                            <% if(authUser) { %>
                                <% if(user._id == authUser._id) { %>
                                <li role="presentation" class="list-group-item">
                                    <a class="list-group-link" href="#account" aria-controls="account" role="tab" data-toggle="tab"><i class="glyphicon glyphicon-cog"></i> Account Settings </a>
                                </li>
                                <% } %>
                            <% } %>
                        </ul>
                        <!-- /Tab menu -->
                    </div>
                </div>

                <!-- Content + Tabs-->
                <div class="col-md-9 tab-content">
                    <!-- Items Posted Tabs -->
                    <div role="tabpanel" class="tab-pane active" id="items">
                        <h1>Items Posted</h1>
                        <div class="well">
                            <!-- Insert items here -->
                            <div class="row">
                                <% for(var i=0; i < items.length; i++) { %>
                                    <div class="col-sm-6 col-md-4">
                                        <div class="thumbnail">
                                            <img src="/uploads/<%= items[i].Image %>" class="img-thumbnail img-responsive" alt="Item image" />
                                            <div class="caption">
                                                <h3><%= items[i].Title %></h3>
                                                <h4>$<%= items[i].Price %></h4>

                                                <h4><%=  items[i].DateAdded.toLocaleDateString("en-US") %></h4>
                                                <p>
                                                    <a href="/items/<%= items[i]._id %>" class="btn btn-primary" role="button">See more</a>
                                                    <% if(authUser && user._id == authUser._id) { %>
                                                        <form action="/items/<%= items[i]._id %>/delete" method="POST">
                                                            <button class="btn btn-danger" type="submit">Delete</button>
                                                        </form>
                                                    <% } %>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                <% } %>
                            </div>
                        </div>
                    </div>
                    <!-- /Items Posted -->

                    <!-- Account Settings Tab -->
                    <% if(authUser) { %>
                        <% if(user._id == authUser._id) { %>
                            <div role="tabpanel" class="tab-pane" id="account">
                                <h1>Account Settings</h1>
                                <div class="well">
                                    <!-- Modify user information -->
                                    <form action="/users/<%= authUser._id %>" method="POST">
                                        <div class="form-group">
                                            <label for="FirstName">First name:</label>
                                            <input type="text" class="form-control" id="FirstName" name="FirstName" placeholder="First name" aria-label="First name" value="<%= user.FirstName %>" required/>
                                        </div>
                                        <div class="form-group">
                                            <label for="LastName">Last name:</label>
                                            <input type="text" class="form-control" id="LastName" name="LastName" placeholder="Last name" aria-label="Last name" value="<%= user.LastName %>" required/>
                                        </div>
                                        <div class="form-group">
                                            <label for="Email">Email address:</label>
                                            <input type="Email" class="form-control" id="Email" name="Email" placeholder="E-mail" aria-label="Email address" value="<%= user.Email %>" required/>
                                        </div>
                                        <div class="form-group">
                                            <label for="Password">Password:</label>
                                            <input type="Password" class="form-control" id="Password" name="Password" placeholder="Password" aria-label="Password" required/>
                                        </div>

                                        <button type="submit" class="btn btn-default">Save</button>
                                    </form>
                                </div>
                            </div>
                        <% } %>
                    <% } %>
                    <!-- /Account Settings -->
                </div>
                <!-- /Content + Tabs -->
            </div>
        </div>
    </main>

    <!-- Footer -->
    <div>
        <% include ../partials/footer %>
    </div>
</body>

</html>